.navbar{
    margin: left right 5px;
}
.card img{
    height: 70%;
    background-color: lightgray;
    
    border-radius: 5em;
    padding: 5px;
}
.button-resize{
    color: white;
    background-color:yellowgreen;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
}
.price{
    color: rgb(240, 226, 36);
}